{{ define "main" }}
  <article class="single-article">
    <h1>{{ .Title }}</h1>
    
    {{ $paragraphs := split .RawContent "\n\n" }}
    {{ $mediaIndex := 0 }}
    {{ $mediaItems := union $.Params.images (union $.Params.youtube_videos $.Params.vimeo_videos) }}
    
    {{ range $index, $paragraph := $paragraphs }}
      {{ $trimmed := trim $paragraph " \n" }}
      {{ if ne $trimmed "" }}
        <div class="single-paragraph-block">
          <div class="single-text-content">
            {{ $trimmed | markdownify }}
          </div>
          
          {{ if $mediaItems }}
            {{ $media := index $mediaItems $mediaIndex }}
            <div class="single-media-content">
              {{ if in $.Params.images $media }}
                <img src="{{ $media | relURL }}" 
                     alt="Content image {{ add $mediaIndex 1 }}"
                     class="single-paragraph-image">
              {{ else if in $.Params.youtube_videos $media }}
                <div class="youtube-embed-container">
                  <iframe 
                    src="https://www.youtube-nocookie.com/embed/{{ $media }}?modestbranding=1&rel=0"
                    loading="lazy"
                    allowfullscreen
                    title="YouTube video: {{ $.Title }}"
                    sandbox="allow-same-origin allow-scripts allow-popups">
                  </iframe>
                </div>
              {{ else if in $.Params.vimeo_videos $media }}
                <div class="vimeo-embed-container">
                  <iframe 
                    src="https://player.vimeo.com/video/{{ $media }}?title=0&byline=0&portrait=0" 
                    frameborder="0"
                    allowfullscreen
                    title="Vimeo video: {{ $.Title }}"
                    loading="lazy">
                  </iframe>
                </div>
              {{ end }}
            </div>
            {{ $mediaIndex = add $mediaIndex 1 }}
            {{ if ge $mediaIndex (len $mediaItems) }}{{ $mediaIndex = 0 }}{{ end }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </article>
{{ end }}