<!-- {{ "About section" | safeHTML }} -->

{{ with .Site.Params.about.title }}<h3 id="about-me">{{ . }}</h3>{{ end }}

<div class="face-lockup">
    <div class="face-img-square">
      <img src="img/giles_promo.jpg" alt="Profile" />
    </div>
    <div class="glitch-icons">
      {{ partial "icons/icon-wave.html" }}
      <!-- Repeat for other icons -->
    </div>
  </div>

{{ with .Site.Params.about.bio }}
    <div class="blurb">{{ . | markdownify }}</div>
{{ end }}

{{ with .Site.Params.about.skills }}
    <div class="skill-lockup">
        {{ range . }}
            <div class="skill-unit">
                <div class="skill-label">{{ .name }}</div>
                <div class="skill-icons skill-{{ .value }}">
                    {{ range seq 10 }}<span></span>{{ end }}
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}