<header id="header">
    <div class="logo-container">
      <a href="{{ .Site.BaseURL }}" aria-label="Home" class="logo-link">
        <img class="logo" src="{{ .Site.Params.header.logo }}" alt="{{ .Site.Params.header.title | default "Site Logo" }}">
      </a>
    </div>
    
    <nav aria-label="Main navigation">
      {{ range .Site.Params.header.nav }}
      {{ $isExternal := or (hasPrefix .url "http://") (hasPrefix .url "https://") }}
      <a href="{{ .url }}"
        {{ if $isExternal }}
          target="_blank" rel="noopener noreferrer"
        {{ end }}>
      {{ .name }}
      {{ if $isExternal }}<span class="ext-icon">↗</span>{{ end }}
    </a>
    {{ end }}
  </nav>
  
  {{ with .Site.Params.header.heading }}<h2>{{ . }}</h2>{{ end }}

    <div class="title-container">
      {{ with .Site.Params.header.title }}<h1>{{ . }}</h1>{{ end }}
    </div>
    
    {{ with .Site.Params.header.subHeading }}<p class="kicker">{{ . }}</p>{{ end }}
  </header>
