<header id="header">
    <img class="logo" src="{{ .Site.Params.header.logo }}" alt="Logo">
    
    {{ with .Site.Params.header.heading }}<div class="heading">{{ . }}</div>{{ end }}
    
    <nav>
        {{ range .Site.Params.header.nav }}
        <a href="{{ .url }}">{{ .name }}</a>
        {{ end }}
    </nav>
    
    <div class="title-container">
        {{ with .Site.Params.header.title }}<h1>{{ . }}</h1>{{ end }}
    </div>
    
    {{ with .Site.Params.header.subHeading }}<p class="kicker">{{ . }}</p>{{ end }}
</header>