<header id="header">
    <nav>
        {{ with .Site.Data.work.title }}<a href="#work">{{ . }}</a>{{ end }}
        {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }}
        {{ with .Site.Data.clients.title }}<a href="#services">{{ . }}</a>{{ end }}
        {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }}
    </nav>
    
    <div class="title-container">
        {{ with .Site.Params.header.title }}<h1><span>{{ . }}</span></h1>{{ end }}
        {{ with .Site.Params.header.heading }}<h2><span>{{ . }}</span></h2>{{ end }}
        {{ with .Site.Params.header.subHeading }}<p class="kicker">{{ . }}</p>{{ end }}
    </div>
</header>